# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDE specific files
.idea/
*.iml
*.iws

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
/build/

# Android specific
*.apk
*.aab
/android/app/build/
/android/.gradle
android/local.properties

# iOS specific
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.podspec

# macOS specific
/macos/Pods/
/macos/.symlinks/
/macos/Flutter/Flutter.podspec

# Symbolication related
app.*.symbols
app.*.map.json

# Environment variables and API keys
.env
.env.local
.env.production
.env.staging
*.key
**/google-services.json
**/GoogleService-Info.plist
android/key.properties